html {
	background-color: #444;
	color: white;
}

.header {
	border-bottom: 2px white solid;
	font-family : Verdana, Geneva, sans-serif;
}

h1 {
    display: inline-block
}

h2 {
    display: inline-block;
    margin-left: 20px;
    font-style: italic;
    color: #ddd;
}

.main {
    margin: 10px;
}

#myTextarea {
    margin-top: 10px;
    min-width: 400px;
    height: 100%;
    min-height: 500px;
}

a {
    padding: 8px;
    border-radius: 12px;
    border: 2px solid #8AC007;
    background-color: #8AA010;
    text-decoration: none;
    color: brown;
    box-shadow: 2px 2px 3px #888888;
    clear: both;
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 30px;
    text-align: center;
}

a:hover {
    box-shadow: 1px 1px 1px #888888;
}

img {
    max-width: 98%;
    margin: auto;
    display: block;
}

.editorArea {
    display: inline-block;
    /*float: left;*/
    width: 48%;
}

.diagramArea {
    /*float : right;*/
    width: 48%;
    display: inline-block;
}

#status {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}